<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Task Hub!</title>
  </head>
  <body>
    <p>Dear User <%= user.name %>,</p>
    <p>Welcome to Task Hub! We're thrilled to have you on board.</p>
    <p>
      Task Hub is your go-to platform for organizing your tasks, managing
      projects, and collaborating with your team effortlessly.
    </p>
    <p>
      Feel free to explore our features and start boosting your productivity
      today!
    </p>
    <p>
      If you have any questions or need assistance, don't hesitate to reach out
      to us.
    </p>
    <p>Best regards,<br />The Task Hub Team</p>
  </body>
</html>
